.product-item {
	cursor: pointer;
	position: relative;
	font-family: "Roboto", sans-serif;

	&__image {
		position: relative;

		img {
			width: 100%;
		}
	}

	&__title {
		text-transform: uppercase;
		letter-spacing: -0.36px;
		font-weight: 900;
		font-size: 18px;
		background-color: #323232;
		padding-left: 14px;
		height: 40px;
		display: flex;
		align-items: center;
		line-height: 1;

		a {
			color: #fff;
			line-height: 1;
		}
	}

	&__price {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		bottom: 0;
		right: 0;

		span {
			display: flex;
			width: 54px;
			height: 40px;
			align-items: center;
			justify-content: center;
			background-color: rgba(255, 255, 255, 0.44);
			text-transform: uppercase;
			letter-spacing: -0.36px;
			font-weight: 900;
			color: #fff;
			font-size: 18px;
			line-height: 1;

		}
	}
}

.product-item__hover {
	z-index: 10;
	border: 10px solid rgba(255, 255, 255, 0.7);
	background-color: rgba(0, 0, 0, 0.55);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;

	i {
		font-size: 30px;
	}

	button {
		width: 50px;
		height: 50px;
		border: 1px solid #ffffff;
		margin: 0 4.5px
	}
}

.product-item:hover {
	.product-item__hover {
		display: block;
	}
}


.row-items {
	margin-bottom: 30px;
}